decorator==4.0.10
Django==2.2.26
django-enumfields==0.8.2
enum34==1.1.6
ipython==7.16.3
ipython-genutils==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
ptyprocess==0.5.1
Pygments==2.7.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
wcwidth==0.1.7
